@import "./execution-list";

.ltsGo .rdt_TableBody .rdt_TableRow {
  min-height: 10%;
}

.ltsGo .rdt_TableHead .rdt_TableHeadRow {
  height: 60px;
  .rdt_TableCol {
    height: 60px;
    //padding: 1rem 1rem 1rem 1rem !important;
  }
}

.ltsGo .rdt_TableCol > div > div {
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.5em;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ltsGo .rdt_TableBody .rdt_TableRow .rdt_TableCell[data-column-id="btn-actions"] {
  button svg {
    color: inherit !important;
  }
  button:disabled {
    border: none;
    background: none;
  }
}

.ltsGo .rdt_TableBody .rdt_TableRow:hover {
  opacity: 75%;
}

.ltsGo .badge {
  width: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
}

.ltsGo .rdt_ExpanderRow .card {
  border-radius : 0;
  margin-bottom: 0;
}

.ltsGo .dropdown button {
  height: 100%
}

.ltsGo .dropdown-menu.show {
  margin-left: -0.1rem;
  margin-right: -0.5rem;
}

.no-border {
  border: none;
}